body {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 200px;
}


.container {
display: grid;
grid-template-columns: 3fr 1fr;
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.title {
  position: relative;
    grid-area: 1 / 1 / 2 / 3;
    text-align: left;
    padding-left: 10%;
    top: 70px;
}


.title a{
    opacity: 1;
}

.menu {
    grid-area: 2 / 2 / 6 / 3;
    text-align: left;
}
a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    padding: 1em;
}

a:hover {
    opacity:1;
}
.menu li {
    list-style-type:none;
    margin-top: 1em;
    font-size: 0.7em;

}



.main {
    grid-area: 2 / 1 / 6 / 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-between;
}




.book-box {
    min-width: 30%;
    max-width: 30%;
    margin-bottom: 3em;
    height: auto;
}

.book-box a {
    display: block;
    color: #007D99;
    padding: 0.5em;


}

.book-box img {
    height: 200px;
}

.book-title {
  font-size: 0.7em;
  height: 50px;
  max-width: 250px;
}
.author-caption {
    color: #2C383B;
    font-size: 0.6em;
    margin-top: 0px;
}

.price {
    font-size: 0.8em;
    align-self: flex-end;
}


.book-box p, .book-box a {
    margin: 0.4em auto 0.3em auto;
}







.image-box {

    width: 30%;
    height: 350px;
}

.image-box img {
    height: 350px;
}


.info-box {
    width: 50%;
    text-align: left;
    align-self: flex-start;
    margin-top: 2em;

}

.author {
    opacity: 0.6;
}


.info-box .price {
    opacity: 0.6
}

.details {
    margin-top: 4em;
    font-size: 0.8em;
    opacity: 0.7;
    float: right;
}


.info-table-1 {
    padding-right: 2em;
    opacity: 0.8;
    text-align: right;
}



.add-to-basket {
    font-size: 0.9em;
    border-radius: 0.2em;
    width: 30%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1em;
    padding: 0.3em;
}


.cart-title {
  width: 100%;
  text-align: center;
  position: relative;
  right: 80px;
  opacity: 0.6;
}
.cart-margin{
  margin-top: 20px;
}

.table-cart {
  font-size: 0.7em;
}

.table-cart td {
  margin-right: 1em;
  max-width: 200px;
  text-align: center;
  padding: 0.4em;
}


.table-cart tr {
    padding-bottom: 100px;
}

.table-cart img{
  height:100px;
  width: 70px;
  padding: 10px;
}

.book-quantity {
  padding: 10px;
}


table .info {
  opacity: 0.5;
  text-align: center;;
}

@media (max-width: 870px) {

    .info-box{
        width: 80%;
        align-self: center;
    }

    .add-to-basket {
    font-size: 0.9em;
    border-radius: 0.2em;
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1em;
    padding: 0.3em;
}

    .book-box img {
        height: 150px;
    }


}
